.d-flex {
    display:flex;
}

.align-c{
    align-items: center;
}
.p-20 {
    padding: 20px;
}
.p-10 {
    padding: 10px;
}
.m-20 {
    margin: 20px;
}
.c-white {
    color: white;
}
.bg-off{
    background-color: #1D1D1D;
}
p.relative{
    position: relative;
}
.text-c {
    text-align: center;
}
.mt-0 {
    margin-top: 0;
}
.fs-14{
    font-size: 14px;
}
.rad-6{
    border-radius: 5px;
}
.w-full{
    width: 100%;
}
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}